#boutons{
  background-color: black;
  border-color: black;
  padding: 15px;
  font-size: large;
  border-radius: 5px;
  color: white;
}

#lien{
  color:aqua;
}

.navigation {
  background-color:black;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

body {
  font-family: sans-serif;
  margin: auto;
  align-items: center;
  background-color: white;
  font-size: larger;
}

div{
  text-align: center;
  margin: auto;
  padding: 10px;
}

footer{
  background-color: black;
  border-color: black;
  padding: 15px;
  font-size: large;
  color: white;
  margin: auto;
  text-align: center;
}

img{
  padding: 20px;
}

p{
  font-size:larger;
}